@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 15px;
    margin-right: 27px;

    &__list {
      list-style-type: none;
      display: flex;
      width: 140px;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    &__link {
      justify-content: left;
    }

    &__item-name {
      margin-left: 8px;
    }

    &__link-comment {
      width: 165px;
      color: var(--light-text);
      font-family: Montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}
