@media screen and (min-width: 1200px) {
  .footer {
    width: 1141px;
    height: 315px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-about {
    display: flex;
    flex-direction: column;
    margin-left: 0;

    &__title {
      color: var(--dark-gray);
      text-align: right;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      margin-left: 0;
    }

    &__link {
      color: var(--light-text);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;
      text-decoration: none;
    }

    &__list {
      list-style-type: none;
      margin-top: 20px;
    }
  }

  .footer-menu {
    &__title {
      color: var(--dark-gray);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }

    &__list {
      list-style-type: none;
      column-count: 2;
      line-height: 1;
      margin-top: 20px;
    }

    &__item:first-child {
      margin: 0;
    }

    &__item {
      margin-top: 10px;
    }

    &__link {
      color: var(--light-text);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    margin-right: 0;

    &__title {
      color: var(--dark-gray);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      margin-right: 0;
    }

    &__list {
      list-style-type: none;
      margin-top: 20px;
    }

    &__item {
      color: var(--light-text);
      text-align: right;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: right;
    }

    &__item:first-child {
      margin-bottom: 20px;
    }

    &__item:last-child {
      margin-top: 20px;
    }

    &__phone {
      color: var(--light-text);
      text-align: right;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &__link-telegram {
      margin-right: 10px;
    }
    &__link-viber {
      margin-right: 10px;
    }
  }

  .footer-privacy {
    margin-top: 70px;
    margin-right: 0;

    &__list {
      list-style-type: none;
    }

    &__item {
      text-align: right;
    }

    &__protection {
      color: var(--light-text);
      text-align: right;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__link {
      border: none;
      background: transparent;
      cursor: pointer;
      color: var(--light-text);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      border-bottom: 1px var(--light-text) solid;
      text-align: right;
    }
  }
}
