.footer {
  width: 289px;
  height: 559px;
  flex-shrink: 0;
  padding-top: 45px;
  margin-left: 15px;
}

.footer-about {
  &__title {
    color: var(--dark-gray, #656566);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: none;
    margin-top: 20px;
  }

  &__item {
    color: var(--light-text, #e4e5ea);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
  }
}

.footer-menu {
  margin-top: 30px;

  &__title {
    color: var(--dark-gray, #656566);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: none;
    column-count: 2;
    margin-top: 20px;
    line-height: 1;
  }

  &__item:first-child {
    width: 75px;
    margin: 0;
  }

  &__item {
    margin-top: 10px;
  }

  &__link {
    color: var(--light-text, #e4e5ea);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
}

.footer-contacts {
  margin-top: 30px;

  &__title {
    color: var(--dark-gray, #656566);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: none;
    margin-top: 20px;
  }

  &__item {
    color: var(--light-text, #e4e5ea);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__item:first-child {
    margin-bottom: 8px;
  }

  &__item:last-child {
    margin-top: 10px;
  }

  &__phone {
    color: var(--light-text, #e4e5ea);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
}

.footer-privacy {
  margin-top: 50px;

  &__list {
    list-style-type: none;
  }

  &__item:first-child {
    margin-bottom: -5px;
  }

  &__protection {
    color: var(--light-text, #e4e5ea);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__link {
    color: var(--light-text, #e4e5ea);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
}
