@media screen and (min-width: 1200px) {
  .nav {
    display: flex;

    width: 948px;
    height: 73px;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    margin: 0;

    &__item {
      margin-right: 30px;
    }

    &__item:last-child {
      margin-right: 0px;
    }

    &__link {
      color: var(--light-text);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
    }
  }

  .nav-contacts {
    &__list {
      display: flex;
      list-style-type: none;
      width: 310px;
      padding-top: 15px;
      margin: 0 0 0 137px;
    }

    &__item:first-child {
      margin-right: 47px;
    }

    &__item:nth-child(2),
    &__item:nth-child(3) {
      margin-right: 30px;
    }

    &__phone {
      color: var(--light-text);
      text-align: right;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
    }
  }
}
