@media screen and (min-width: 1200px) {
  .main {
    width: 1140px;

    &__purple-light {
      position: absolute;
      top: -154px;
      left: 602px;
      width: 259px;
      height: 259px;
      flex-shrink: 0;
      border-radius: 259px;
      opacity: 0.5;
      background: #833ab4;
      filter: blur(196px);
    }

    &__red-light {
      position: absolute;
      top: 251px;
      left: -102px;
      width: 311px;
      height: 311px;
      flex-shrink: 0;
      border-radius: 311px;
      background: #961a1a;
      opacity: 0.5;
      filter: blur(196px);
    }

    &__purple-ball {
      position: absolute;
      top: -2px;
      left: 868px;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      background: var(--purple-ball-gradient);
      filter: var(--filter-shadow) blur(5px);
      backdrop-filter: blur(2px);
      border-radius: 50%;
    }

    &__red-ball {
      position: absolute;
      top: 83px;
      left: 519px;
      width: 83px;
      height: 83px;
      flex-shrink: 0;
      background: var(--red-ball-gradient);
      filter: var(--filter-shadow);
      backdrop-filter: blur(2px);
      border-radius: 50%;
    }

    &__red-ball-small {
      position: absolute;
      top: 547px;
      left: 851px;
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      background: var(--red-ball-small-gradient);
      filter: var(--filter-shadow) blur(2px);
      backdrop-filter: blur(2px);
      border-radius: 50%;
    }
  }

  .main-section {
    margin: 90px 0 69px 0;
    display: flex;
    justify-content: space-between;

    &__content {
      margin: 0;
    }

    &__title {
      width: 362px;
      color: var(--light-text);
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__welbex-text-decor {
      color: var(--light-text);
      background: var(--gradient-welbex-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    &__description {
      margin: 30px 0 0 0;
      width: 275px;
      color: var(--light-text);
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
    }

    &__advantages {
      margin: 15px 0 0 0;
      display: flex;
      flex-direction: column;
    }

    &__offer {
      width: 291px;
      text-align: right;
      color: var(--light-text);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-right: 0;
    }

    &__consult-text-decor {
      background: var(--gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.9px;
      text-transform: uppercase;
    }

    &__list {
      list-style-type: none;
      margin-top: 40px;
      column-count: 2;
    }

    &__item {
      width: 164px;
      margin-top: 30px;
    }

    &__item:nth-child(1) {
      margin-top: 0px;
    }

    &__name {
      color: var(--light-text);
      text-align: right;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.9px;
      text-transform: uppercase;
    }

    &__text {
      color: var(--light-text);
      text-align: right;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__button {
      width: 262px;
      height: 61px;
      flex-shrink: 0;
      background: #4077f3;
      color: var(--light-text);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-color: #4077f3;
      cursor: pointer;
      margin-top: 61px;
      margin-right: 0;
    }
  }
}
