@media screen and (min-width: 1200px) {
  .main {
    width: 1140px;
    // background: radial-gradient(
    //   304.35% 148.2% at 3.2% 3.49%,
    //   rgba(255, 246, 233, 0.1) 0%,
    //   rgba(26, 29, 35, 0.1) 26.62%,
    //   rgba(26, 29, 35, 0.1) 52.1%,
    //   rgba(26, 29, 35, 0.01) 70.17%,
    //   rgba(26, 29, 35, 0) 100%
    // );
    // backdrop-filter: blur(7.5px);

    &__purple-light {
      position: absolute;
      top: -154px;
      left: 602px;
      width: 259px;
      height: 259px;
      flex-shrink: 0;
      border-radius: 259px;
      opacity: 0.5;
      background: #833ab4;
      filter: blur(196px);
    }

    &__red-light {
      position: absolute;
      top: 251px;
      left: -102px;
      width: 311px;
      height: 311px;
      flex-shrink: 0;
      border-radius: 311px;
      background: #961a1a;
      opacity: 0.5;
      filter: blur(196px);
    }

    &__purple-ball {
      position: absolute;
      top: -2px;
      left: 868px;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      background: radial-gradient(
        82.3% 82.3% at 27.25% 26.5%,
        rgba(236, 208, 255, 0.64) 0%,
        rgba(161, 93, 207, 0.24) 59.67%,
        rgba(118, 49, 164, 0.21) 78.59%,
        rgba(86, 24, 128, 0.23) 100%
      );
      filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
      backdrop-filter: blur(2px);
      border-radius: 50%;
      // z-index: -1;
    }

    &__red-ball {
      position: absolute;
      top: 83px;
      left: 519px;
      width: 83px;
      height: 83px;
      flex-shrink: 0;
      background: radial-gradient(
        82.3% 82.3% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.54) 0%,
        rgba(212, 93, 93, 0.26) 59.67%,
        rgba(167, 49, 49, 0.25) 78.59%,
        rgba(130, 25, 25, 0.25) 100%
      );
      filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
      backdrop-filter: blur(2px);
      border-radius: 50%;
    }

    &__red-ball-small {
      position: absolute;
      top: 547px;
      left: 851px;
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      background: radial-gradient(
        82.3% 82.3% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.48) 0%,
        rgba(212, 93, 93, 0.25) 59.67%,
        rgba(167, 49, 49, 0.26) 78.59%,
        rgba(130, 25, 25, 0.23) 100%
      );
      filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
      backdrop-filter: blur(2px);
      border-radius: 50%;
    }
  }

  .main-section {
    margin: 90px 0 69px 0;
    display: flex;
    justify-content: space-between;

    &__content {
      margin: 0;
    }

    &__title {
      width: 362px;
      color: #e4e5ea;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__welbex-text-decor {
      color: #e4e5ea;
      background: var(
        --gradient-welbex-text,
        linear-gradient(90deg, #fcb045, #ff3f78)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #e4e5ea;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    &__description {
      margin: 30px 0 0 0;
      width: 275px;
      color: var(--light-text, #e4e5ea);
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
    }

    &__advantages {
      margin: 15px 0 0 0;
      display: flex;
      flex-direction: column;
    }

    &__offer {
      width: 291px;
      text-align: right;
      color: var(--light-text, #e4e5ea);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-right: 0;
    }

    &__consult-text-decor {
      background: var(
        --gradient,
        linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.9px;
      text-transform: uppercase;
    }

    &__list {
      list-style-type: none;
      margin-top: 40px;
      column-count: 2;
    }

    &__item {
      width: 164px;
      margin-top: 30px;
    }

    &__item:nth-child(1) {
      margin-top: 0px;
    }

    &__name {
      color: var(--light-text, #e4e5ea);
      text-align: right;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.9px;
      text-transform: uppercase;
    }

    &__text {
      color: #e4e5ea;
      text-align: right;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__button {
      width: 262px;
      height: 61px;
      flex-shrink: 0;
      background: #4077f3;
      color: var(--light-text, #e4e5ea);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-color: #4077f3;
      cursor: pointer;
      margin-top: 61px;
      margin-right: 0;
    }
  }
}
