@media screen and (max-width: 479px) {
  .main {
    position: relative;
    width: 320px;
    height: 445px;
    flex-shrink: 0;
    background: var(--background-gradient);
    backdrop-filter: blur(7.5px);
    overflow: hidden;

    &__purple-light {
      position: absolute;
      top: 107px;
      left: 258px;
      width: 259px;
      height: 259px;
      flex-shrink: 0;
      border-radius: 259px;
      opacity: 0.5;
      background: #833ab4;
      filter: blur(196px);
    }

    &__red-light {
      position: absolute;
      top: 241px;
      left: -55px;
      width: 211px;
      height: 210px;
      flex-shrink: 0;
      background: #961a1a;
      opacity: 0.5;
      filter: blur(196px);
    }

    &__yellow-light {
      position: absolute;
      top: 519px;
      left: -66px;
      width: 200px;
      height: 200px;
      flex-shrink: 0;
      background: #fcb045;
      opacity: 0.4000000059604645;
      filter: blur(196px);
    }

    &__purple-ball {
      position: absolute;
      top: 236px;
      right: -16px;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      background: var(--purple-ball-gradient);
      filter: var(--filter-shadow) blur(5px);
      backdrop-filter: blur(2px);
      border-radius: 50%;
      z-index: -1;
    }

    &__red-ball {
      position: absolute;
      top: 402px;
      left: 29px;
      width: 43px;
      height: 43px;
      flex-shrink: 0;
      background: radial-gradient(
        82.3% 82.3% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.48) 0%,
        rgba(212, 93, 93, 0.25) 59.67%,
        rgba(167, 49, 49, 0.26) 78.59%,
        rgba(130, 25, 25, 0.23) 100%
      );
      filter: var(--filter-shadow) blur(2.5px);
      backdrop-filter: blur(2px);
      z-index: -1;
      border-radius: 50%;
    }
  }

  .main-section {
    padding: 40px 34px 55px 14px;

    &__title {
      color: var(--light-text);
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__welbex-text-decor {
      color: var(--light-text);
      background: var(--gradient-welbex-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    &__description {
      margin-top: 15px;
      width: 271px;
      color: var(--light-text);
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__advantages {
      margin-top: 45px;
    }

    &__offer {
      width: 272px;
      color: var(--light-text);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0;
    }

    &__consult-text-decor {
      background: var(--gradient-consult-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__list {
      list-style-type: none;
      margin-top: 20px;
      column-count: 2;
      grid-template-columns: 100px 50px 100px;
      grid-template-rows: 80px auto 80px;
      grid-column-gap: 10px;
      grid-row-gap: 15px;
    }

    &__item {
      position: relative;
      color: var(--light-text);
      font-family: Montserrat;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.65px;
      text-transform: uppercase;
    }

    &__item:nth-child(1),
    &__item:nth-child(2) {
      margin-left: 16px;
    }
  }

  .main-section__list > li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -15px;
    width: 10px;
    height: 1px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  }
}
